.blog-section {
  background: #101010;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

.blog-banner {
  height: 95vh;
  background: url("/src/assets/images/testimonial-banner.webp") center/cover no-repeat;
  position: relative;
}

.blog-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35%;
  background: linear-gradient(
    to top,
    rgba(16, 16, 16, 1),
    rgba(16, 16, 16, 0.7),
    rgba(16, 16, 16, 0)
  );
  z-index: 1;
  pointer-events: none;
}
.banner-title {
  position: absolute;
  top: 97%;     
  left: 6%;     
  z-index: 2;
}

.banner-title span {
  background: #5b3f2a;
  padding: 14px 50px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.blog-list {
  padding: 120px 6%;
}

.blog-container {
  max-width: 1400px;
  margin: auto;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.blog-card {
  background: #151515;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.blog-image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.blog-content {
  padding: 28px;
}

.blog-date {
  font-size: 13px;
  color: #b08b5a;
  letter-spacing: 1px;
}

.blog-title {
  font-size: 24px;
  margin: 14px 0;
  color: #ffffff;
}

.blog-details-title{
 margin: 24px 0;

}

.blog-description {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
  margin-bottom: 20px;
}

.blog-read-more {
  color: #b08b5a;
  text-decoration: none;
}

.blog-read-more:hover {
  color: #ffffff;
}

/*blog details styles*/

.blog-details-intro {
  max-width: 900px;
  margin-bottom: 60px;
}

.blog-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.blog-details-card {
  background: #151515;
  padding: 30px;
  border-radius: 16px;
}

.blog-details-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.blog-details-card p {
  color: #cccccc;
  line-height: 1.6;
}

/* Blog content link styles */
.blog-details-body a {
  color: #b08b5a;         
  text-decoration: underline;
  transition: color 0.3s ease;
}

.blog-details-body a:hover {
  color: #ffffff;          
  text-decoration: none;
}


@media (max-width: 768px) {
  .blog-details-grid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 1200px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-list {
    padding: 80px 5%;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }
}
