.contact-section {
  background: #101010;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

.contact-banner {
  height: 95vh;
  background: url("/src/assets/images/testimonial-banner.webp") center/cover no-repeat;
  position: relative;
}

.contact-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35%;
  background: linear-gradient(
    to top,
    rgba(16, 16, 16, 1),
    rgba(16, 16, 16, 0.7),
    rgba(16, 16, 16, 0)
  );
  z-index: 1;
  pointer-events: none;
}
.banner-title {
  position: absolute;
  top: 97%;     
  left: 6%;     
  z-index: 2;
}

.banner-title span {
  background: #5b3f2a;
  padding: 14px 50px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

.contact-container {
  position: relative;
  z-index: 3;
  padding: 80px 40px;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background: #101010;
  padding: 50px;
  border-radius: 14px;
}

.contact-form h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.contact-form p {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 25px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 1px solid #fff;
  padding: 14px;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-weight: bold;   
  color: #fff;         
}

.contact-form textarea {
  min-height: 180px;
  resize: none;
  margin-bottom: 25px;
}

.button-wrapper {
  display: flex;
  justify-content: center; 
}

.contact-form button {
  width: 160px;
  padding: 12px;
   border-radius: 40px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1),
    inset 0 3px 8px rgba(255, 255, 255, 0.2),
    inset 0 -3px 8px rgba(255, 255, 255, 0.2), inset 0 0 20px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease;
  color: #fff;
  cursor: pointer;
}

.contact-form button:hover {
    background: #a68167;
  color: #fff;
  border: none;
  transform: translateY(-3px);
  box-shadow: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.contact-map iframe {
  width: 100%;
  height: 360px;
  border-radius: 12px;
  border: none;
  filter: grayscale(100%) invert(92%);
}

.contact-bottom {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #2c2c2c;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  text-align: left;
}

.contact-bottom div p,
.contact-bottom div span {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 6px;
}

.contact-bottom h5 a {
  color: #fff;
  text-decoration: none;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 14px;
  color: #fff;
}

.icons a {
  color: #fff;
}

.icons i {
  width: 34px;
  height: 34px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.icons i:hover {
  background: #6b4a2d;
  border-color: #6b4a2d;
}

@media (max-width: 992px) {
  .contact-content {
    grid-template-columns: 1fr;
  }

  .contact-container {
    padding: 60px 6%;
  }

  .banner-title {
    top: 100px;
    left: 6%;
  }
}

@media (max-width: 576px) {
  .form-row {
    grid-template-columns: 1fr;
  }

  .banner-title span {
    font-size: 22px;
    padding: 12px 26px;
  }

  .contact-content {
    padding: 30px;
  }

  .contact-bottom {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .socials {
    align-items: center;
  }
}


@media(max-width:540px){
  .contact-section {
  background: #101010;
  color: #fff;
  width: 110vw;
  overflow-x: hidden;
}
}