
.our-testimonials-section {
  background: #101010;
  color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

.our-testimonials-banner {
  height: 95vh;
  background: url("/src/assets/images/testimonial-banner.webp")
    center / cover no-repeat;
  position: relative;
}

.our-testimonials-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35%;
  background: linear-gradient(
    to top,
    rgba(16, 16, 16, 1),
    rgba(16, 16, 16, 0.7),
    rgba(16, 16, 16, 0)
  );
}

.our-testimonials-banner-title {
  position: absolute;
  bottom: -30px;
  left: 6%;
  z-index: 2;
}

.our-testimonials-banner-title span {
  background: #5b3f2a;
  padding: 14px 50px;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}


.our-testimonials-content {
  padding: 140px 6% 120px;
  text-align: center;
}


.our-testimonials-heading {
  font-size: 48px;
  margin-bottom: 14px;
   font-family: "Allura", cursive !important;
}

.our-testimonials-subheading {
  font-size: 18px;
  color: #b5b5b5;
  margin-bottom: 70px;
}

.our-testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.our-testimonials-card {
  background: #151515;
  padding: 42px 32px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.our-testimonials-card:hover {
  transform: translateY(-10px);
  background: #1b1b1b;
}

.our-testimonials-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 24px;
  border: 2px solid #5b3f2a;
}

.our-testimonials-text {
  font-size: 16px;
  line-height: 1.7;
  color: #d6d6d6;
  margin-bottom: 22px;
}

.our-testimonials-rating {
  color: #caa472;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 18px;
}

.our-testimonials-name {
  font-size: 18px;
  margin-bottom: 4px;
}

.our-testimonials-role {
  font-size: 14px;
  color: #8a8a8a;
}

@media (max-width: 992px) {
  .our-testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .our-testimonials-grid {
    grid-template-columns: 1fr;
  }

  .our-testimonials-heading {
    font-size: 36px;
  }

  .our-testimonials-banner-title span {
    font-size: 28px;
    padding: 12px 30px;
  }
}
