.vision-section {
  background: #101010;
  padding: 80px 20px;
  overflow: hidden;
}

.vision-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap: 40px;
  align-items: center;
}

.vision-left {
  position: relative;
  border-radius: 28px;
  overflow: hidden;
  min-height: 480px;
}

.vision-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vision-card {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(8, 12, 20, 0.95),
    rgba(2, 4, 9, 0.95)
  );
  padding: 50px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vision-title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 24px;
  font-family: "Allura", cursive;
}

.vision-text {
  font-size: 20px;
  line-height: 1.7;
  color: #d6d6d6;
  font-family: "Poppins", sans-serif;
}

.vision-right {
  position: relative;
  border-radius: 28px;
}

.vision-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.vision-play {
  position: absolute;
  bottom: -8px;
  right: -19px;
  width: 125px;
  height: 125px;
  background: #b08a6d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.vision-play::before {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
}

.vision-play img {
  width: 125px;
  position: relative;
  z-index: 2;
}

.slide-left,
.slide-right {
  opacity: 0;
  transition:
    transform 1.1s ease-out,
    opacity 1.1s ease-out;
  will-change: transform, opacity;
}

.slide-left {
  transform: translateX(-120px);
}

.slide-right {
  transform: translateX(120px);
}

.animate-in {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .vision-left,
  .vision-right {
    min-height: 420px;
  }
  .vision-text {
    font-size: 18px;
  }
  .vision-play img {
    width: 90px;
  }
  .vision-play {
    position: absolute;
    bottom: 152px;
    right: 0px;
    width: 75px;
    height: 75px;
    background: #b08a6d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
}

@media (max-width: 768px) {
  .vision-title {
    font-size: 36px;
  }

  .vision-text {
    font-size: 16px;
  }

  .vision-play {
    width: 70px;
    height: 70px;
    right: 16px;
    bottom: 16px;
  }
}

@media (max-width: 480px) {
  .vision-left,
  .vision-right {
    min-height: 300px;
  }
}
