.about-assemble {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 100px 8%;
  min-height: 750px;
  height: 120vh;
  background: #101010;
  overflow: hidden;
  color: #fff;
}

.about-assemble::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/src/assets/images/pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.01;
  z-index: 0;
}

.scroll-up {
  transform: translateY(50px);
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
  transition-delay: var(--delay, 0s);
  will-change: transform, opacity;
}

.scroll-up.active {
  transform: translateY(0);
  opacity: 1;
}

.about-wrapper {
  position: relative;
  background: #101010;
  overflow: hidden;
}

.vector-bg {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  border-radius: 80px;
  overflow: hidden;
}

.vector-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
  filter: brightness(1.1) contrast(1.05);
}

/* .content {
  max-width: 580px;
  z-index: 3;
  position: relative;
} */

.content {
  max-width: 703px;
  z-index: 3;
  position: relative;
  top: -100px;
}

.tag {
  font-size: 60px;
}

.content h2 {
  font-size: 30px;
  line-height: 1.3;
  margin: 20px 0;
}

.content p {
  opacity: 0.85;
  line-height: 1.6;
  font-size: 18px;
}

.read-more {
  align-self: center;
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 32px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  border-bottom: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    inset 0 3px 8px rgba(255, 255, 255, 0.2),
    inset 0 -3px 8px rgba(255, 255, 255, 0.2),
    inset 0 0 20px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease;
}

.read-more span {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more:hover {
  background: #a68167;
  color: #fff;
  border: none;
  transform: translateY(-3px);
  box-shadow: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.plant-image {
  margin-top: 35px;
}

.plant-image img {
  width: 250px;
  height: auto;
  opacity: 0.9;
}

/* .experience-badge {
  position: absolute;
  right: 30%;
  top: 65px;
  text-align: center;
  z-index: 4;
} */

.experience-badge {
  position: absolute;
  right: 22%;
  top: 20px;
  text-align: center;
  z-index: 4;
}

.experience-badge h3 {
  font-size: 46px;
  margin: 0;
  font-weight: 700;
}

.experience-badge p {
  font-size: 30px;
  opacity: 0.8;
}

/* .assemble-wrapper {
  position: relative;
  width: 600px;
  height: 500px;
  margin-top: 195px;
  z-index: 2;
} */

.assemble-wrapper {
  position: relative;
  width: 600px;
  height: 500px;
  margin-top: 80px;
  z-index: 2;
  left: -10px;
}

.assemble-part {
  position: absolute;
  transition:
    transform 1.2s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.8s ease;
}

/* =========================
   SET 1 POSITIONS
========================= */
.assembled.wallLeft {
  top: 100px;
  left: -215px;
  width: 540px;
}
.assembled.wallRight {
  top: 97px;
  right: -90px;
  width: 452px;
}
.assembled.floor {
  bottom: -108px;
  left: -214px;
  width: 887px;
}
.assembled.sofa {
  bottom: -65px;
  left: -105px;
  width: 650px;
  z-index: 3;
}
.assembled.lamp {
  top: 30px;
  left: -216px;
  width: 895px;
}

/* =========================
   SET 2 OVERRIDES
========================= */
.set-2 .assembled.wallLeft {
  top: 100px;
  left: -215px;
  width: 540px;
}
.set-2 .assembled.wallRight {
  top: 97px;
  right: -90px;
  width: 441px;
}
.set-2 .assembled.floor {
  bottom: -44px;
  left: -213px;
  width: 894px;
}
.set-2 .assembled.lamp {
  top: 11px;
  left: -212px;
  width: 893px;
}
.set-2 .sofa {
  display: none;
}

/* =========================
   DISASSEMBLED
========================= */
.lamp.disassembled {
  opacity: 0;
  transform: translateY(-400px);
}
.floor.disassembled {
  opacity: 0;
  transform: translateY(500px);
}
.sofa.disassembled {
  opacity: 0;
  transform: translateY(400px);
}
.wallLeft.disassembled {
  opacity: 0;
  transform: translateX(-500px);
}
.wallRight.disassembled {
  opacity: 0;
  transform: translateX(500px);
}

@media (min-width: 1750px) {
  .set-2 .assembled.wallLeft {
    top: 78px;
    left: -554px;
    width: 700px;
  }
  .set-2 .assembled.wallRight {
    top: 75px;
    right: -40px;
    width: 600px;
  }
  .set-2 .assembled.floor {
    bottom: -167px;
    left: -556px;
    width: 1200px;
  }
  .set-2 .assembled.lamp {
    top: -47px;
    left: -554px;
    width: 1200px;
  }
  .set-2 .sofa {
    display: none;
  }
  .assembled.wallLeft {
    top: 78px;
    left: -554px;
    width: 700px;
  }
  .assembled.wallRight {
    top: 75px;
    right: -40px;
    width: 585px;
  }
  .assembled.floor {
    bottom: -244px;
    left: -554px;
    width: 1170px;
  }
  .assembled.sofa {
    bottom: -65px;
    left: -105px;
    width: 650px;
    z-index: 3;
  }
  .assembled.lamp {
    top: -16px;
    left: -554px;
    width: 1192px;
  }

  .assemble-wrapper {
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 140px;
    z-index: 2;
    left: 90px;
  }

  .experience-badge {
    position: absolute;
    right: 20%;
    top: 20px;
    text-align: center;
    z-index: 4;
  }
}

@media (max-width: 1440px) {
  .assembled.wallLeft {
    top: 100px;
    left: -215px;
    width: 540px;
  }
  .assembled.wallRight {
    top: 97px;
    right: -178px;
    width: 452px;
  }
  .assembled.floor {
    bottom: -108px;
    left: -214px;
    width: 887px;
  }
  .assembled.sofa {
    bottom: -65px;
    left: -105px;
    width: 650px;
    z-index: 3;
  }
  .assembled.lamp {
    top: 30px;
    left: -216px;
    width: 895px;
  }

  .set-2 .assembled.wallLeft {
    top: 100px;
    left: -215px;
    width: 540px;
  }
  .set-2 .assembled.wallRight {
    top: 97px;
    right: -178px;
    width: 441px;
  }
  .set-2 .assembled.floor {
    bottom: -44px;
    left: -213px;
    width: 894px;
  }
  .set-2 .assembled.lamp {
    top: 11px;
    left: -212px;
    width: 893px;
  }
  .set-2 .sofa {
    display: none;
  }
  .vector-bg {
    top: 51%;
    height: 80vh;
  }
  .about-assemble {
    height: 90vh;
    min-height: 0px;
  }
}

@media (max-width: 1024px) {
  .content h2 {
    font-size: 25px;
  }
  .content p {
    font-size: 15px;
  }
  .experience-badge h3 {
    font-size: 35px;
  }
  .experience-badge p {
    font-size: 25px;
  }
  .read-more {
    font-size: 18px;
    padding: 6px 15px;
  }
  .plant-image img {
    width: 150px;
  }

  .set-2 .assembled.lamp {
    top: 49px;
    left: -212px;
    width: 545px;
  }

  .set-2 .assembled.floor {
    bottom: 120px;
    left: -213px;
    width: 544px;
  }
  .set-2 .assembled.wallRight {
    top: 103px;
    right: -37px;
    width: 275px;
  }
  .set-2 .assembled.wallLeft {
    top: 100px;
    left: -215px;
    width: 350px;
  }

  .assembled.lamp {
    top: 97px;
    left: -214px;
    width: 553px;
  }
  .assembled.sofa {
    bottom: 56px;
    left: -158px;
    width: 465px;
    z-index: 3;
  }
  .assembled.wallRight {
    top: 141px;
    right: -44px;
    width: 273px;
  }

  .assembled.wallLeft {
    top: 138px;
    left: -215px;
    width: 370px;
  }

  .assembled.floor {
    bottom: 27px;
    left: -214px;
    width: 550px;
  }
  .assemble-wrapper {
    margin-top: 65px;
  }
  .vector-bg {
    top: 53%;
    height: 80vh;
  }
  .about-assemble {
    height: 95vh;
    min-height: 0px;
  }
}

@media (max-width: 768px) {
  .about-assemble {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 20px;
    height: auto;
    min-height: auto;
    gap: 40px;
  }
  .assemble-wrapper {
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: -90px;
    z-index: 2;
    left: 245px;
  }
  .plant-image {
    display: none;
  }
  .content {
    max-width: 703px;
    z-index: 3;
    position: relative;
    top: -35px;
  }
  .set-2 .assembled.wallRight {
    top: 103px;
    right: 268px;
    width: 275px;
  }
  .assembled.wallRight {
    top: 141px;
    right: 261px;
    width: 273px;
  }

  .assembled.lamp {
    top: 60px;
    left: -214px;
    width: 553px;
  }
  .assembled.wallLeft {
    top: 102px;
    left: -215px;
    width: 350px;
  }
  .assembled.wallRight {
    top: 104px;
    right: 262px;
    width: 246px;
  }
  .assembled.floor {
    bottom: 87px;
    left: -214px;
    width: 550px;
  }
  .assembled.sofa {
    bottom: 115px;
    left: -158px;
    width: 445px;
    z-index: 3;
  }
  .vector-bg {
    top: 40%;
    height: 80vh;
  }
}

@media (max-width: 540px) {
  .about-wrapper {
    width: 100vw;
  }
  .tag {
    font-size: 30px;
  }
  .experience-badge h3 {
    font-size: 25px;
  }
  .experience-badge p {
    font-size: 18px;
  }
  .content h2 {
    font-size: 17px;
    margin-top: 30px;
  }
  .content p {
    font-size: 12px;
  }
  .read-more {
    font-size: 15px;
    padding: 8px 12px;
  }

  .read-more span {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .set-2 .assembled.lamp {
    top: 49px;
    left: -100px;
    width: 300px;
  }
  .set-2 .assembled.wallLeft {
    top: 84px;
    left: -99px;
    width: 170px;
  }
  .set-2 .assembled.wallRight {
    top: 79px;
    right: 400px;
    width: 157px;
  }
  .set-2 .assembled.floor {
    bottom: 270px;
    left: -101px;
    width: 300px;
  }
  .set-2 .assembled.lamp {
    top: 51px;
    left: -100px;
    width: 302px;
  }
  .assemble-wrapper {
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: -90px;
    z-index: 2;
    left: 248px;
  }
  .assembled.lamp {
    top: 60px;
    left: -101px;
    width: 300px;
  }

  .assembled.wallLeft {
    top: 81px;
    left: -100px;
    width: 200px;
  }

  .assembled.wallRight {
    top: 80px;
    right: 402px;
    width: 155px;
  }

  .assembled.sofa {
    bottom: 250px;
    left: -78px;
    width: 240px;
    z-index: 3;
  }

  .assembled.floor {
    bottom: 236px;
    left: -99px;
    width: 296px;
  }

      .vector-bg {
        top: 46%;
        height: 50vh;
        border-radius: 0px;
    }
}
