.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  z-index: 999;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #a68167;
  text-decoration: none;
}

.call-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.call-btn {
  width: 55px;
  height: 55px;
  background: #a68167;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: -30px;
}

@media (min-width: 768px) {
  .mobile-bottom-nav {
    display: none;
  }
}
