.footer-container {
  background: #37383c;
  padding: 60px 40px 30px;
  color: #ffffff;
  font-family: sans-serif;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap; 
}

.footer-about p {
  max-width: 450px;
  line-height: 1.7;
  opacity: 0.85;
  font-size: 18px;
  color: #fff;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.footer-menu a {
  color: #ffffff;
  opacity: 0.9;
  font-size: 20px;
  text-decoration: none;
}

.footer-menu a:hover {
  opacity: 1;
  color: #fff;
}


.footer-right {
  max-width: 350px;
}

.footer-title {
  margin-bottom: 12px;
  max-width: 350px;
  font-size: 18px;
  color: #fff;
}

.footer-subscribe {
  display: flex;
  gap: 10px;
  margin: 15px 0 20px;
}

.footer-subscribe input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 4px;
  border: none;
  background: #e3e3e3;
}

.footer-subscribe button {
  padding: 10px 18px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-subscribe button:hover {
  opacity: 0.85;
}

.footer-contact-row {
  display: flex;
  justify-content: start;
  gap:25px;
  margin-top: 35px;
}

.footer-icons {
  display: flex;
  gap: 10px;
  font-size: 18px;
  margin-top: 5px;
}

.footer-icons svg {
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.footer-icons svg:hover {
  transform: scale(1.2);
}


.footer-divider {
  border: 0;
  border-top: 1px solid rgba(255,255,255,0.3);
  margin: 40px 0 20px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-call{
  font-size: 20px;
}

.footer-links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #ffffff;
  opacity: 0.8;
  font-size: 14px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-logo {
  width: 140px;        
  height: auto;        
  margin-bottom: 16px;
  object-fit: contain;
}

.phone-link {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.phone-link:hover {
  color: #ffffff;
}

.footer-mail-center {
  text-align: start;
}

.email-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.email-link:hover {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .footer-logo {
    width: 180px;
  }
    .footer-wrapper {
    flex-wrap: nowrap;
  }
}

@media (max-width: 900px) {
  .footer-wrapper {
    flex-direction: row;
  }

  .footer-subscribe {
    flex-direction: row;
  }

  .footer-subscribe button {
    width: 100%;
  }

  .footer-contact-row {
    flex-direction: row;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media(max-width:540px){
  .footer-container{
    width: 100vw;
  }
  .footer-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .footer-subscribe{
    flex-direction: column;
  }
  .footer-contact-row{
    flex-direction: column;
  }
  .footer-about p{
    font-size: 15px;
  }
  .footer-menu a {
    font-size: 15px;
  }
  .email-link{
    font-size: 15px;
  }
  .phone-link{
    font-size: 13px;
  }
}