.founder-section {
  background: #101010;
  padding: 80px 0 120px;
  position: relative;
  overflow: hidden;
  height: 125vh;
}


.founder-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-size: 100% auto;
  z-index: 1;
}


.founder-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: stretch; 
  position: relative;
  z-index: 2;
}


.founder-image-box {
  padding: 20px;
  border-radius: 16px;
  height: 100%;
  display: flex;
}

.founder-image {
  width: 243%;
  height: 136%;        
  object-fit: cover;
  border-radius: 12px;
}


.founder-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative; 
}

.founder-title {
  font-size: 55px;
  margin-bottom: 25px;
  color: #fff;
}

.founder-name {
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 30px;
}

.founder-text {
  color: #f1f1f1;
  font-size: 24px;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 30px;
}

/* BUTTON */
.founder-btn {
    margin-top: auto; 
  align-self: flex-end ;  
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  gap: 32px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 16px 25px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  border-bottom: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),      
    inset 0 3px 8px rgba(255, 255, 255, 0.2),   
    inset 0 -3px 8px rgba(255, 255, 255, 0.2),  
    inset 0 0 20px rgba(0, 0, 0, 0.6);   
  transition: 0.3s ease;
}

.founder-btn:hover {
  background: #a68167;
  color: #fff;
  border: none;
  transform: translateY(-3px);
}

/* Icon bubble */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.icon-wrapper svg {
  color: #fff;
  font-size: 18px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
  .founder-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .founder-image {
    height: auto;
    max-height: 420px;
  }

  .founder-text {
    margin: auto;
  }

  .founder-section::before {
    height: 120px;
  }
}

@media (max-width: 600px) {
  .founder-section {
    padding-bottom: 150px;
  }

  .founder-section::before {
    height: 100px;
  }
}
