.founder-section {
  background: #101010;
  padding: 80px 0 120px;
  position: relative;
  overflow: hidden;
  height: 132vh;
}

.founder-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-size: 100% auto;
  z-index: 1;
}

.founder-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/images/pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.01; /* subtle */
  z-index: 0;
  pointer-events: none;
}

.founder-container {
  width: 100%;
  /* max-width: 1300px; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: stretch;
  position: relative;
  z-index: 2;
}

.founder-image-box {
  padding: 20px;
  border-radius: 16px;
  height: 100%;
  display: flex;
}

.founder-image {
  width: 228%;
  height: 123%;
  object-fit: cover;
  border-radius: 12px;
}

.founder-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.founder-content::after {
  content: "";
  position: absolute;
  bottom: -150px;
  left: 0px;
  width: 600px;
  height: 600px;
  background-image: url("/src/assets/images/Shape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}

.founder-title {
  font-size: 55px;
  margin-bottom: 25px;
  color: #fff;
}

.founder-name {
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 30px;
}

.founder-text {
  color: #f1f1f1;
  font-size: 24px;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 30px;
}

/* BUTTON */
.founder-btn {
  align-self: center;
  margin-top: -20px;
  display: inline-flex;
  align-items: center;
  gap: 32px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 16px 25px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  border-bottom: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    inset 0 3px 8px rgba(255, 255, 255, 0.2),
    inset 0 -3px 8px rgba(255, 255, 255, 0.2),
    inset 0 0 20px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease;
  text-decoration: none;
}

.founder-btn:hover {
  background: #a68167;
  color: #fff;
  border: none;
  transform: translateY(-3px);
  box-shadow: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

/* Icon bubble */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.icon-wrapper svg {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 1440px) {
  .founder-section {
    height: 110vh;
  }
}

@media (max-width: 1024px) {
  .founder-section {
    height: 115vh;
  }
  .founder-text {
    font-size: 17px;
  }
  .founder-name {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .founder-image {
    width: 228%;
    height: 119%;
    margin-top: 50px;
  }
  .founder-content::after {
    width: 400px;
    height: 400px;
    bottom: -35px;
  }
  .founder-btn {
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 0px;
  }
}

@media (max-width: 900px) {
  .founder-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .founder-image {
    height: auto;
    max-height: 420px;
  }

  .founder-text {
    margin: auto;
  }

  .founder-section::before {
    height: 120px;
  }
}
@media (max-width: 900px) {
  .founder-content::after {
    opacity: 0.15;
    width: 280px;
    height: 280px;
    right: -40px;
  }
}

@media (max-width: 768px) {
  .founder-section {
    height: 180vh;
    margin-top: -120px;
  }
  .founder-image {
    height: auto;
    max-height: 530px;
  }
  .founder-container {
    gap: 5px;
  }
  .founder-container > *:first-child {
    order: 2;
  }

  .founder-container > *:last-child {
    order: 1;
  }
  .founder-btn {
    font-size: 18px;
    padding: 5px 15px;
    margin-top: 30px;
  }
  .founder-title {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .founder-section {
    padding-bottom: 150px;
  }

  .founder-section::before {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .founder-content::after {
    display: none;
  }
}

@media (max-width: 540px) {
  .founder-section {
    width: 100vw;
    height: 135vh;
  }
  .founder-image {
    width: 170%;
  }
  .founder-title {
    font-size: 30px;
  }
  .founder-text {
    font-size: 14px;
    max-width: 300px;
  }
  .founder-btn {
    font-size: 15px;
    padding: 8px 13px;
    gap: 15px;
  }
  .icon-wrapper {
    height: 30px;
    width: 30px;
  }
  .founder-name {
    font-size: 16px;
  }
}

/* @media (min-width: 401px) and (max-width: 499px) {
.founder-section {
    margin-top: 140px;
}
} */

@media (min-width: 429px) and (max-width: 529px) {
.founder-section {
    height: 110vh;
}
}

@media (min-width: 376px) and (max-width: 420px) {
.founder-section {
    height: 110vh;
}
}

@media (width: 344px) {
.founder-section {
    height: 105vh;
}
}