
.offcanvas-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.offcanvas-overlay.show {
  opacity: 1;
  pointer-events: auto;
}


.offcanvas-menu {
  position: fixed;
  top: 10px;
  right: -100%;
  width: 280px;
  height: 97vh;
  padding: 24px;
  z-index: 999;
border-radius: 20px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  border-bottom: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.1),
    inset 0 3px 8px rgba(255, 255, 255, 0.2),
    inset 0 -3px 8px rgba(255, 255, 255, 0.2),
    inset 0 0 20px rgba(0, 0, 0, 0.6);

  transition: right 0.35s ease;
}

.offcanvas-menu.open {
  right: 0;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.close-icon {
  font-size: 22px;
  cursor: pointer;
}

.offcanvas-links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offcanvas-links a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.offcanvas-links a:hover {
  opacity: 0.7;
}
