/*  FLOATING PLUS MENU */

.floating-wrapper {
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 1000;
}

.floating-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #000;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.3s;
}

.floating-btn:hover {
  background: #000;
  border: 3px solid #fff;
}

.floating-btn.active {
  background: #a68167; 
  border: none;
}

.plus-icon {
  color: white;
  transition: 0.3s;
}

.plus-icon.rotate {
  transform: rotate(45deg);
}

.floating-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.floating-icons a {
  width: 50px;
  height: 50px;
  background: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  animation: bounceIn 0.5s ease forwards;
}

.floating-icons a,
.floating-icons a:hover,
.floating-icons a:focus,
.floating-icons a:active,
.floating-icons a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
}


@keyframes bounceIn {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: translateY(-6px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


@media(max-width:578px){
  .floating-btn{
    width: 50px;
    height: 50px;
    font-size: 10px;
  }
  .floating-wrapper {
    position: fixed;
    bottom: 35px;
    right: 18px;
    z-index: 1000;
}
}