.ts-section {
  padding: 100px 20px;
  background-color: #101010;
  color: #fff;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ts-section::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/src/assets/images/pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.01; /* adjust if needed */
  z-index: 0;
}

/* TITLE */
.ts-title {
  font-size: 45px;
  margin-bottom: 50px;
}

/* CONTENT ROW */
.ts-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative; /* REQUIRED for absolute arrows */
  max-width: 1200px;
  margin: auto;
}

/* ARROWS */
.ts-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #846753;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 10;
}

.ts-arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.ts-arrow-left {
  left: 29px;
  top: 92%;
  /* adjust freely */
}

.ts-arrow-right {
  right: 15%;
  top: 92%;
}

/* IMAGE CARD */
.ts-card {
  width: 420px; /* increased width */
  position: relative;
}

.ts-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

/* PLAY BUTTON */
.ts-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #1c55e0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.ts-play:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* TEXT AREA */
.ts-text-area {
  max-width: 450px;
  text-align: left;
}

.ts-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
}

/* AUTHOR */
.ts-author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ts-author-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.ts-author-name {
  margin: 0;
  font-weight: 600;
}

.ts-author-stars {
  color: gold;
}

@media (max-width: 1024px) {
  .ts-card {
    width: 320px;
  }
  .ts-text-area {
    font-size: 15px;
  }
  .ts-arrow-left {
    left: 50%;
    top: 92%;
  }
  .ts-arrow-right {
    left: 65%;
    top: 92%;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .ts-content {
    flex-direction: column;
    gap: 40px;
  }

  .ts-text-area {
    text-align: center;
  }

  .ts-arrow {
    top: auto;
    bottom: -70px;
    transform: none;
  }

  .ts-arrow-left {
    left: 40%;
  }

  .ts-arrow-right {
    right: 40%;
  }
}
