.ts-section {
  padding: 60px 20px;
  background-color: #101010;
  color: #fff;
  text-align: center;
  width: 100vw;
}

.ts-title {
  font-size: 40px;
  margin-bottom: 40px;
}

.ts-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0px;
  position: relative;
  flex-wrap: wrap;
}

/* LEFT & RIGHT ARROWS */
.ts-arrow {
  background: #846753;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* font-size: 1.5rem; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: relative;
  z-index: 10;
}

.ts-arrow:hover {
  transform: scale(1.1);
}

.ts-arrow-left {
  margin-right: -20px;
}

.ts-arrow-right {
  margin-left: -20px;
}

/* CARD IMAGE */
.ts-card {
  width: 300px;
  position: relative;
}

.ts-image {
  width: 120%;         
  max-width: none;    
  height: 370px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}


/* PLAY BUTTON CENTERED */
.ts-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background:#fff;
  color: #1c55e0;
  /* font-size: 1.8rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.ts-play:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* TEXT AREA */
.ts-text-area {
  max-width: 450px;
  text-align: left;
}

.ts-text {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
    color: #fff;
}

/* AUTHOR */
.ts-author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.ts-author-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.ts-author-name {
  margin: 0;
  font-weight: 600;
}

.ts-author-stars {
  color: gold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .ts-content {
    flex-direction: column;
  }

  .ts-text-area {
    text-align: center;
  }

  .ts-arrow-left,
  .ts-arrow-right {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .ts-image {
    height: 300px;
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .ts-image {
    width: 100%;
    height: 370px;
  }
}