.why-choose-section {
  width: 100%;
  background: #101010;
  padding: 50px 60px;
  box-sizing: border-box;
}

.why-choose-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}

.why-image-box {
  width: 100%;
  max-width: 620px;
  height: 620px;
  border-radius: 28px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.why-image-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.45) 30%,
    rgba(0, 0, 0, 0.85) 100%
  );
  pointer-events: none;
}

.why-image-box img {
  width: 100%;
  height: 100%;
  display: block;
}

.why-content-box {
  color: #ffffff;
}

.why-title {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 20px;
}

.why-subtitle {
  font-size: 25px;
  line-height: 1.6;
  max-width: 520px;
  margin-bottom: 45px;
}

.why-cards {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.why-btn {
  all: unset;
  cursor: pointer;
}

.why-btn {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 20px 34px;
  border-radius: 48px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-top: 3px solid rgba(255, 255, 255, 0.35);
  border-bottom: 3px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.35),
    inset 0 4px 10px rgba(255, 255, 255, 0.2),
    inset 0 -4px 10px rgba(255, 255, 255, 0.25),
    inset 0 0 22px rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: all 0.3s ease;
}

.why-btn:hover {
  background: #a68167;
  color: #fff;
  border: none;
  transform: translateY(-3px);
}

.why-btn:active {
  transform: scale(0.97);
}

.why-btn .icon {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.18); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  flex-shrink: 0;
}

.why-btn .text {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .why-choose-container {
    grid-template-columns: 1fr;
  }

  .why-image-box {
    height: 420px;
  }

  .why-title {
    font-size: 36px;
  }

  .why-btn .text {
    font-size: 20px;
  }
}
