
@font-face {
  font-family: "Allura";
  src: url("/src/assets/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #101010;
  color: #ffffff;
  overflow-x: hidden;
  line-height: 1.6;
}


.allura-font {
  font-family: "Allura", cursive !important;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.6px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}


button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

#founder {
  scroll-margin-top: 700px;
}